*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4e4e4e;
}

.slider{
    width: 1100px;
    height: 600px;
    overflow: hidden;
    position: relative;
    
}

.middle{
    margin: 100px auto;
}

.navigation{
    position: absolute;
    bottom: 16px;
    right: 250px;
    transform: translateX(-50%);
    display: flex;
}

.text{
    position: absolute;
    bottom: 16px;
    left: 250px;
    font-family: 'Courier New', Courier, monospace;
    color: #ddd;
    font-size: 20px;
}


.bar{
    height: 15px;
    width: 15px;
    border: 1px solid #0099FF;
    background-color: #0099FF;
    border-radius: 50%;
    margin: 6px;
    cursor: pointer;
    opacity: .7;
    transition: all .4 ease;
}

.bar:hover{
    opacity: 1;
    transform: scale(1.1);
    background-color: whitesmoke;
    border: whitesmoke;
}

.bar:visited{
    border: 1px solid #0099FF;
    background-color: #4e4e4e;
}

.bar:active{
    border: 1px solid #0099FF;
    background-color: #4e4e4e;
}

.bar:focus{
    border: 1px solid #0099FF;
    background-color: #4e4e4e;
}


input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.img-slide{
    width: 100%;
    height: 90%;
    object-fit: contain;
}

.text1{
    width: 400%;
    height: 100%;
    display: flex;
}


.images{
    width: 400%;
    height: 100%;
    display: flex;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.text2{
    width: 25%;
    transition: all 1s ease-in-out;
}

.slide{
    width: 25%;
    transition: all 1s ease-in-out;
}

#r1:checked ~ .images .s1{
    margin-left: 0;
}

#r2:checked ~ .images .s1{
    margin-left: -25%;
}

#r3:checked ~ .images .s1{
    margin-left: -50%;
}

#r4:checked ~ .images .s1{
    margin-left: -75%;
}



@media (max-width: 420px){
    .navigation{
        position: absolute;
    bottom: 16px;
    right: 450px;
    transform: translateX(-50%);
    display: flex;
    }
}
